In [6]:
# from google.colab import drive
# drive.mount('/content/gdrive')

### Imports

In [7]:
import os
import pandas as pd
import tqdm
import re
import torch
import json
# import torch_xla
# import torch_xla.core.xla_model as xm
from torch.utils.data import Dataset, TensorDataset, DataLoader, SequentialSampler, RandomSampler
from torch.nn.utils.rnn import pad_sequence
# from keras.preprocessing.sequence import pad_sequences
import pickle
import numpy as np
import tensorflow as tf
from preprocess import *
from vocabulary import *
from model import *
from model_functions import *

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\swaga\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\swaga\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\swaga\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
C:\Users\swaga\Anaconda3\lib\site-packages\gensim\similarities\__init__.py:15: UserWarning: The gensim.similarities.levenshtein submodule is disabled, because the optional Levenshtein package <https://pypi.org/project/python-Levenshtein/> is unavailable. Install Levenhstein (e.g. `pip install python-Levenshtein`) to suppress this warning.
  warnings.warn(msg)

In [8]:
import matplotlib.pyplot as plt
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer 
from nltk.tokenize import word_tokenize 
import torch
import torch.nn as nn
import torch.optim as optim
import torch.nn.functional as F
from torch.utils.data import Dataset, DataLoader
from torch.nn.utils.rnn import pad_sequence, pack_padded_sequence, pad_packed_sequence
from sklearn.preprocessing import LabelBinarizer
import seaborn as sns
from string import punctuation
import re
from gensim.models import KeyedVectors
import numpy as np

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\swaga\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\swaga\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\swaga\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

### Pre Processing Dataset

In [9]:
train_df = pd.read_csv('../../../evaluation/snli/snli_/snli_1.0_train.csv')
val_df   = pd.read_csv('../../../evaluation/snli/snli_/snli_1.0_dev.csv')
# train_df = pd.read_csv('../datasets/snli/snli_/snli_1.0_train.csv')
# val_df   = pd.read_csv('../datasets/snli/snli_/snli_1.0_dev.csv')
train_df, val_df = preprocess_text(train_df, val_df)
print(len(train_df))
print(len(val_df))

549361
9842

In [10]:
len(train_df['sentence2'][8])

36

In [11]:
# rw = pd.read_csv('../datasets/Transformer_generated_summaries.csv', encoding='utf-8')
# rw = pd.read_csv('ins.csv', encoding='utf-8')
rw = pd.read_csv('test_sets/ins.csv', encoding='utf-8')
# rw = pd.read_csv('../datasets/test_data/Transformer_generated_summaries.csv', encoding='utf-8')

rw.drop(['original_summary'], axis = 1, inplace=True)
rw.rename(columns = {'text':'sentence1'}, inplace = True)
rw.rename(columns = {'Predicted_summary':'sentence2'}, inplace = True)

# print(rw)
gold = [-1] * 100
rw.insert(loc=0, column='gold_label', value=gold)
rw = rw[['gold_label', 'sentence1', 'sentence2']]
# rw = rw[['sentence1', 'sentence2']]
rw = rw.dropna()
rw.head()

                                            sentence1  \
0   saudi stock exchange appointed sarah al ceo in...
1   hollywood actor morgan freeman said would like...
2   uk india business council chairperson said 60 ...
3   indian railways wednesday increased lower bert...
4   two pilots arrested saturday glasgow scotland ...
..                                                ...
95  researchers mit developed continuous high reso...
96  former indian captain rahul dravid former sri ...
97  appointment kalyan krishnamurthy flipkart 39 c...
98  national investigation agency friday framed ch...
99  australian motorcycle stunt performer robbie p...

                                            sentence2      bleu  \
0    saudi stock exchange appointed sarah al ceo i...  0.696471
1    hollywood actor morgan freeman said would lik...  0.673274
2    india business council chairperson said 60 br...  0.670611
3    indian railways wednesday increased lower ber...  0.635658
4    two pilots arrested saturday glasgow scotland...  0.644035
..                                                ...       ...
95   Researchers mit developed continuous high res...  0.602511
96   icc cricket committee represents players umpi...  0.570855
97   Flipkart CEO kalyan krishnamurthy is the CEO ...  0.732862
98   national investigation agency friday framed c...  0.652124
99   Australian motorcycle stunt performer robbie ...  0.667157

    Semantic_similarity  rouge_1_f  rouge_2_f  rouge_l_f
0              0.758483   0.476190   0.315789   0.476190
1              0.011786   0.000000   0.000000   0.000000
2              0.871521   0.631579   0.333333   0.526316
3              0.584623   0.285714   0.000000   0.190476
4              0.759435   0.300000   0.111111   0.300000
..                  ...        ...        ...        ...
95             0.455625   0.240000   0.000000   0.240000
96             0.331183   0.250000   0.000000   0.250000
97             0.519452   0.100000   0.000000   0.100000
98             0.411771   0.105263   0.000000   0.105263
99             0.815118   0.434783   0.285714   0.434783

[100 rows x 7 columns]

,gold_label,sentence1,sentence2
0,-1,saudi stock exchange appointed sarah al ceo in...,saudi stock exchange appointed sarah al ceo i...
1,-1,hollywood actor morgan freeman said would like...,hollywood actor morgan freeman said would lik...
2,-1,uk india business council chairperson said 60 ...,india business council chairperson said 60 br...
3,-1,indian railways wednesday increased lower bert...,indian railways wednesday increased lower ber...
4,-1,two pilots arrested saturday glasgow scotland ...,two pilots arrested saturday glasgow scotland...

In [12]:
# rw = pd.read_csv('../datasets/Transformer_generated_summaries.csv', encoding='utf-8')
# rw = pd.read_csv('ins.csv', encoding='utf-8')
rw_ = pd.read_csv('test_sets/ins.csv', encoding='utf-8')
# rw = pd.read_csv('../datasets/test_data/Transformer_generated_summaries.csv', encoding='utf-8')

rw_.drop(['text'], axis = 1, inplace=True)
rw_.rename(columns = {'original_summary':'sentence1'}, inplace = True)
rw_.rename(columns = {'Predicted_summary':'sentence2'}, inplace = True)

gold = [-1] * 100
rw_.insert(loc=0, column='gold_label', value=gold)
rw_ = rw_[['gold_label', 'sentence1', 'sentence2']]
# rw = rw[['sentence1', 'sentence2']]
rw_ = rw_.dropna()
rw_.head()

,gold_label,sentence1,sentence2
0,-1,saudi stock exchange appoints its first female...,saudi stock exchange appointed sarah al ceo i...
1,-1,what makes fireworks explode,hollywood actor morgan freeman said would lik...
2,-1,60 british firms to increase investment in india,india business council chairperson said 60 br...
3,-1,railways increase senior citizen women quota,indian railways wednesday increased lower ber...
4,-1,pilots arrested in scotland for drinking befor...,two pilots arrested saturday glasgow scotland...

In [13]:
rw_.head()

,gold_label,sentence1,sentence2
0,-1,saudi stock exchange appoints its first female...,saudi stock exchange appointed sarah al ceo i...
1,-1,what makes fireworks explode,hollywood actor morgan freeman said would lik...
2,-1,60 british firms to increase investment in india,india business council chairperson said 60 br...
3,-1,railways increase senior citizen women quota,indian railways wednesday increased lower ber...
4,-1,pilots arrested in scotland for drinking befor...,two pilots arrested saturday glasgow scotland...

In [16]:
rw['sentence1'][0]

'saudi stock exchange appointed sarah al ceo investment bank ncb capital first female head first woman chair major government financial institution kingdom chair arab world 39 largest stock exchange time preparing offer shares public '

In [44]:
rw_['sentence2'][0]

'saudi stock exchange appointed sarah al ceo investment bank ncb capital first female'

In [18]:
len(rw['sentence2'][8])

117

In [19]:
train_df['sentence1'] = train_df['sentence1'].astype(str).apply(lambda text: clean_text(text))
train_df['sentence2'] = train_df['sentence2'].astype(str).apply(lambda text: clean_text(text))
val_df['sentence1'] = val_df['sentence1'].astype(str).apply(lambda text: clean_text(text))
val_df['sentence2'] = val_df['sentence2'].astype(str).apply(lambda text: clean_text(text))
rw['sentence1'] = rw['sentence1'].astype(str).apply(lambda text: clean_text(text))
rw['sentence2'] = rw['sentence2'].astype(str).apply(lambda text: clean_text(text))
rw_['sentence1'] = rw_['sentence1'].astype(str).apply(lambda text: clean_text(text))
rw_['sentence2'] = rw_['sentence2'].astype(str).apply(lambda text: clean_text(text))

In [20]:
train_df = train_df[(train_df['sentence1'].str.split().str.len() > 0) & (train_df['sentence2'].str.split().str.len() > 0)]
val_df = val_df[(val_df['sentence1'].str.split().str.len() > 0) & (val_df['sentence2'].str.split().str.len() > 0)]
print(train_df[(train_df['sentence1'].str.split().str.len() == 0) | (train_df['sentence2'].str.split().str.len() == 0)])
print(val_df[(val_df['sentence1'].str.split().str.len() == 0) | (val_df['sentence2'].str.split().str.len() == 0)])

Empty DataFrame
Columns: [gold_label, sentence1, sentence2]
Index: []
Empty DataFrame
Columns: [gold_label, sentence1, sentence2]
Index: []

In [21]:
train_df.head()

,gold_label,sentence1,sentence2
0,neutral,a person on a horse jumps over a broken down a...,a person is training his horse for a competition
1,contradiction,a person on a horse jumps over a broken down a...,a person is at a diner ordering an omelette
2,entailment,a person on a horse jumps over a broken down a...,a person is outdoors on a horse
3,neutral,children smiling and waving at camera,they are smiling at their parents
4,entailment,children smiling and waving at camera,there are children present

In [22]:
val_df.head()

,gold_label,sentence1,sentence2
0,neutral,two women are embracing while holding to go pa...,the sisters are hugging goodbye while holding ...
1,entailment,two women are embracing while holding to go pa...,two woman are holding packages
2,contradiction,two women are embracing while holding to go pa...,the men are fighting outside a deli
3,entailment,two young children in blue jerseys one with th...,two kids in numbered jerseys wash their hands
4,neutral,two young children in blue jerseys one with th...,two kids at a ballgame wash their hands

In [23]:
train_val_df = pd.concat([train_df, val_df])

In [24]:
sentence_pairs, _ = pair_generator(train_val_df)
rw_sentence_pairs, __ = pair_generator(rw)
rw_sentence_pairs_, __ = pair_generator(rw_)
train_sentence_pairs, train_sentence_labels = pair_generator(train_df)
val_sentence_pairs, val_sentence_labels = pair_generator(val_df)

labels = set(train_sentence_labels)
print(labels)

# tag2idx = {word: i for i, word in enumerate(labels)}
# print(tag2idx)
tag2idx = {'entailment': 0, 'neutral': 1, 'contradiction': 2}
print(tag2idx)

train_labels = [tag2idx[t] for t in train_sentence_labels]
val_labels = [tag2idx[t] for t in val_sentence_labels]

{'entailment', 'neutral', 'contradiction'}
{'entailment': 0, 'neutral': 1, 'contradiction': 2}

In [25]:
rw_sentence_pairs_[0]

('saudi stock exchange appointed sarah al ceo investment bank ncb capital first female head first woman chair major government financial institution kingdom chair arab world largest stock exchange time preparing offer shares public',
 'saudi stock exchange appointed sarah al ceo investment bank ncb capital first female')

In [26]:
vocab = Vocabulary()

for data in [rw_sentence_pairs]:
  for sen in data:
    premise    = sen[0]
    hypothesis = sen[1]
    vocab.addSentence(premise)
    vocab.addSentence(hypothesis)
    
for data in [rw_sentence_pairs_]:
  for sen in data:
    premise    = sen[0]
    hypothesis = sen[1]
    vocab.addSentence(premise)
    vocab.addSentence(hypothesis)

for data in [sentence_pairs]:
  for sentence_pair in data:
    premise    = sentence_pair[0]
    hypothesis = sentence_pair[1]
    vocab.addSentence(premise)
    vocab.addSentence(hypothesis)

print("Vocab size:", len(vocab.word2index))

Vocab size: 33820

In [27]:
# vocab = Vocabulary()
print("Vocab size:", len(vocab.word2index))

Vocab size: 33820

In [28]:
index2word = {}
for wrd, idx in vocab.word2index.items():
    # print(wrd, idx)
    index2word[idx] = wrd

## Model

In [ ]:
EPOCHS = 15
BATCH_SIZE = 32
EMBEDDING_SIZE = 300
VOCAB_SIZE = len(vocab.word2index)
TARGET_SIZE = len(tag2idx)
HIDDEN_SIZE = 128
LEARNING_RATE = 0.005
STACKED_LAYERS = 2
EMBEDDING_PATH = '../../../../embeddings/google_news/GoogleNews-vectors-negative300.bin'
GLOVE_EMBEDDING = '../../../../embeddings/glove/glove.6B.300d.txt'
# EMBEDDING_PATH = '../embeddings/google_news/GoogleNews-vectors-negative300.bin'
# GLOVE_EMBEDDING = '../embeddings/glove/glove.6B.300d.txt'

initiate_model_vocab(vocab, tag2idx)

In [ ]:
train_data = DataSetLoader(get_pair_indices(vocab, train_sentence_pairs), train_labels)
val_data   = DataSetLoader(get_pair_indices(vocab, val_sentence_pairs), val_labels)

In [ ]:
train_loader = torch.utils.data.DataLoader(train_data, batch_size = BATCH_SIZE, collate_fn=lambda x:x)
val_loader   = torch.utils.data.DataLoader(val_data, batch_size = BATCH_SIZE, collate_fn=lambda x:x)

print(len(train_loader), len(val_loader))

In [ ]:
embeddings_index = load_embeddings(GLOVE_EMBEDDING)

In [ ]:
weights = 1 * np.random.randn(VOCAB_SIZE + 1, EMBEDDING_SIZE)
embedded_count = 0
for word, lang_word_index in vocab.word2index.items():
  if embeddings_index.get(word) is not None:
    weights[lang_word_index] = embeddings_index.get(word)
    embedded_count += 1

print("Embedded count:", embedded_count)
del embeddings_index
weights.shape

In [ ]:
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
print(device)

In [ ]:
lstm_model = LSTM(VOCAB_SIZE, HIDDEN_SIZE, TARGET_SIZE, STACKED_LAYERS, weights, True)
lstm_model.to(device)
print(lstm_model)

criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(lstm_model.parameters(), lr=LEARNING_RATE, weight_decay=1e-5)

In [ ]:
train(lstm_model, train_loader, val_loader, criterion, optimizer)

In [ ]:
# Print model's state_dict
print("Model's state_dict:")
for param_tensor in lstm_model.state_dict():
    print(param_tensor, "\t", lstm_model.state_dict()[param_tensor].size())

In [ ]:
# Print optimizer's state_dict
print("Optimizer's state_dict:")
for var_name in optimizer.state_dict():
    print(var_name, "\t", optimizer.state_dict()[var_name])

In [ ]:
torch.save(lstm_model, 'sm_2')

In [29]:
lstm_model = torch.load('sm_2')
lstm_model.eval()

LSTM(
  (embedding): Embedding(33589, 300)
  (lstm): LSTM(300, 128, num_layers=2, batch_first=True, dropout=0.2, bidirectional=True)
  (relu): ReLU()
  (dropout): Dropout(p=0.2, inplace=False)
  (FC_concat1): Linear(in_features=512, out_features=128, bias=True)
  (FC_concat2): Linear(in_features=128, out_features=64, bias=True)
  (FC_concat3): Linear(in_features=64, out_features=32, bias=True)
  (output): Linear(in_features=32, out_features=3, bias=True)
  (out): Sequential(
    (0): Linear(in_features=512, out_features=128, bias=True)
    (1): ReLU()
    (2): Dropout(p=0.2, inplace=False)
    (3): Linear(in_features=128, out_features=64, bias=True)
    (4): ReLU()
    (5): Linear(in_features=64, out_features=32, bias=True)
    (6): ReLU()
    (7): Dropout(p=0.2, inplace=False)
    (8): Linear(in_features=32, out_features=3, bias=True)
  )
)

In [30]:
print(lstm_model.output)

Linear(in_features=32, out_features=3, bias=True)

In [31]:
sentence_o = [''] * len(rw)
sentence_p = [''] * len(rw)
# sentence_o = [''] * 2
# sentence_p = [''] * 2

# sentence_o[0] = "rock music is very good for public"
# sentence_p[0] = "people dont like rock and roll"
sentence_o[0] = "uk india business council chairperson said 60 british firms likely increase investment india next years firms positive reforms fdi introduced last two years added india even important britain said"
sentence_p[0] = "60 british firms to increase investment in india"
sentence_o[1] = "india 39 first cosmetics brand lakmé founded 1952 jrd tata subsidiary tata oil mills business tycoon born july 29 1904 requested prime minister manufacture beauty products country brand named french opera lakmé french form indian goddess"
sentence_p[1] = "jrd tata founded india 39 s first cosmetics brand"

sentence_o[0] = clean_text(sentence_o[0])
sentence_p[0] = clean_text(sentence_p[0])
sentence_o[1] = clean_text(sentence_o[1])
sentence_p[1] = clean_text(sentence_p[1])

sen_p1 = []
sen_p2 = []
for i in range(2):
  sen1 = sentence_o[i]
  sen2 = sentence_p[i]
  sen_p1.append((sen1, sen2))
for i in range(2):
  sen2 = sentence_o[i]
  sen1 = sentence_p[i]
  sen_p2.append((sen1, sen2))

# sen_p1

In [32]:
rrw_sentence_pairs_ = []
for i in range(len(rw_sentence_pairs_)):
    rrw_sentence_pairs_.append((rw_sentence_pairs_[i][1], rw_sentence_pairs_[i][0]))
print('rw[0]: ', rw_sentence_pairs_[0])
print('rrw[0]: ', rrw_sentence_pairs_[0])

rw[0]:  ('saudi stock exchange appointed sarah al ceo investment bank ncb capital first female head first woman chair major government financial institution kingdom chair arab world largest stock exchange time preparing offer shares public', 'saudi stock exchange appointed sarah al ceo investment bank ncb capital first female')
rrw[0]:  ('saudi stock exchange appointed sarah al ceo investment bank ncb capital first female', 'saudi stock exchange appointed sarah al ceo investment bank ncb capital first female head first woman chair major government financial institution kingdom chair arab world largest stock exchange time preparing offer shares public')

In [33]:
# rw_sentence_pairs, __ = pair_generator(rw)

In [34]:
id_pairs = get_pair_indices(vocab, rw_sentence_pairs)
id_pairs_1 = get_pair_indices(vocab, rw_sentence_pairs_)
id_pairs_2 = get_pair_indices(vocab, rrw_sentence_pairs_)
# id_pairs = get_pair_indices(vocab, sen_p1)
# id_pairs = get_pair_indices(vocab, sen_p2)
# id_pairs[0]

In [35]:
premise_seq    = [torch.tensor(seq[0]).long().to(device) for seq in id_pairs]
hypothesis_seq = [torch.tensor(seq[1]).long().to(device) for seq in id_pairs]

premise_len    = list(map(len, premise_seq))
hypothesis_len = list(map(len, hypothesis_seq))

batch = len(premise_seq)
temp = pad_sequence(premise_seq + hypothesis_seq, batch_first=True)
premise_seq    = temp[:batch, :]
hypothesis_seq = temp[batch:, :]

prediction = lstm_model([premise_seq, hypothesis_seq], premise_len, hypothesis_len)
# prediction = prediction[prediction!=prediction[0,3]]

prediction_list = prediction.to('cpu')
prediction_list = prediction_list.tolist()
print(len(prediction_list))

100

In [36]:
premise_seq    = [torch.tensor(seq[0]).long().to(device) for seq in id_pairs_1]
hypothesis_seq = [torch.tensor(seq[1]).long().to(device) for seq in id_pairs_1]

premise_len    = list(map(len, premise_seq))
hypothesis_len = list(map(len, hypothesis_seq))

batch = len(premise_seq)
temp = pad_sequence(premise_seq + hypothesis_seq, batch_first=True)
premise_seq    = temp[:batch, :]
hypothesis_seq = temp[batch:, :]

prediction_1 = lstm_model([premise_seq, hypothesis_seq], premise_len, hypothesis_len)
# prediction = prediction[prediction!=prediction[0,3]]

prediction_list = prediction_1.to('cpu')
prediction_list = prediction_list.tolist()
print(len(prediction_list))

100

In [37]:
premise_seq    = [torch.tensor(seq[0]).long().to(device) for seq in id_pairs_2]
hypothesis_seq = [torch.tensor(seq[1]).long().to(device) for seq in id_pairs_2]

premise_len    = list(map(len, premise_seq))
hypothesis_len = list(map(len, hypothesis_seq))

batch = len(premise_seq)
temp = pad_sequence(premise_seq + hypothesis_seq, batch_first=True)
premise_seq    = temp[:batch, :]
hypothesis_seq = temp[batch:, :]

prediction_2 = lstm_model([premise_seq, hypothesis_seq], premise_len, hypothesis_len)
# prediction = prediction[prediction!=prediction[0,3]]

prediction_list = prediction_2.to('cpu')
prediction_list = prediction_list.tolist()
print(len(prediction_list))

100

In [38]:
# prediction

In [39]:
soft = torch.log_softmax(prediction, dim=1).argmax(dim=1)
soft.tolist()
soft_1 = torch.log_softmax(prediction_1, dim=1).argmax(dim=1)
soft_1.tolist()
soft_2 = torch.log_softmax(prediction_2, dim=1).argmax(dim=1)
soft_2.tolist()

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1]

In [40]:
print(soft, soft_1, soft_2)

tensor([0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 2, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
        0, 0, 0, 0], device='cuda:0') tensor([0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 2, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
        0, 0, 0, 0], device='cuda:0') tensor([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 2, 1, 1,
        1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1,
        1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2,
        2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,
        1, 1, 2, 1], device='cuda:0')

In [41]:
ctr = 0
for i in range(len(soft)):
    if soft[i] == 2:
        print(rw_sentence_pairs[i])
        ctr = ctr + 1
print(ctr)

('bjp led opposition friday slammed nitish kumar led state government bihar assembly alleged increase crimes state including recent killing opposition leaders opposition also brought alleged rape minor girl rjd mla raised anti government slogans following houses adjourned', 'opposition also brought alleged rape minor girl rjd mla raised anti government slogans following')
('chinese president xi jinping told ukrainian counterpart petro poroshenko china willing play constructive role seeking political resolution ukraine crisis also discussed opportunities economic development bilateral meeting sidelines world economic forum eastern ukraine facing civil war since russia annexed crimea', 'chinese president xi jinping told ukrainian counterpart petro por')
('part cricketer ravindra jadeja restaurant jaddu food field rajkot demolished rajkot municipal corporation drive illegal construction city thursday store room kitchen constructed illegally part restaurant pulled corporation earlier issued notices illegal constructions', 'rajkot municipal corporation earlier issued notices illegal constructions part cricketer')
3

In [42]:
ctr_1 = 0
for i in range(len(soft_1)):
    if soft_1[i] == 2:
        print(rw_sentence_pairs_[i])
        ctr_1 = ctr_1 + 1
print(ctr_1)

('bjp led opposition friday slammed nitish kumar led state government bihar assembly alleged increase crimes state including recent killing opposition leaders opposition also brought alleged rape minor girl rjd mla raised anti government slogans following houses adjourned', 'opposition also brought alleged rape minor girl rjd mla raised anti government slogans following')
('chinese president xi jinping told ukrainian counterpart petro poroshenko china willing play constructive role seeking political resolution ukraine crisis also discussed opportunities economic development bilateral meeting sidelines world economic forum eastern ukraine facing civil war since russia annexed crimea', 'chinese president xi jinping told ukrainian counterpart petro por')
('part cricketer ravindra jadeja restaurant jaddu food field rajkot demolished rajkot municipal corporation drive illegal construction city thursday store room kitchen constructed illegally part restaurant pulled corporation earlier issued notices illegal constructions', 'rajkot municipal corporation earlier issued notices illegal constructions part cricketer')
3

In [43]:
ctr_2 = 0
for i in range(len(soft_2)):
    if soft_2[i] == 2:
        print(rrw_sentence_pairs_[i])
        ctr_2 = ctr_2 + 1
print(ctr_2)

('chinese president xi jinping told ukrainian counterpart petro por', 'chinese president xi jinping told ukrainian counterpart petro poroshenko china willing play constructive role seeking political resolution ukraine crisis also discussed opportunities economic development bilateral meeting sidelines world economic forum eastern ukraine facing civil war since russia annexed crimea')
('south africa defeated afghanistan runs second group match super stage super', 'south africa defeated afghanistan runs second group match super stage sunday batting first proteas scored ab de villiers starring ball response mohammad shahzad ball got afghans good start christopher morris helped south africa dismiss')
('billionaires list richest person in the world richest person billionaires list', 'microsoft co founder bill gates ranked first forbes billionaires list fortune billion world richest person past years warren buffett reclaimed second slot two years amazon jeff bezos ranked third mark zuckerberg ranked fifth first time')
('laws first issued since come force starting october umpires eject cr', 'umpires eject cricketers temporarily permanently match misbehaviour new laws approved marylebone cricket club certain limitations bat sizes also announced maximum dimensions width depth edges new laws first issued since come force starting october')
('australian men eight rowing failed qualify qualify for the olympic games for', 'australian men eight rowing failed qualify olympics games first time years finished fourth rio olympics qualifier event country six medals event history women team also failed qualify rio')
('bahujan samaj party bsp chief mayawati said muslims', 'bahujan samaj party bsp chief mayawati saturday said muslims waste vote samajwadi party sp must vote bsp bharatiya janata party bjp defeated said people suffering due bad policies central government state government')
('general motors hourly workers receive bonuses lakh company registered record year including', 'american vehicle manufacturer general motors hourly workers receive bonuses lakh company registered record year including around crore profit north america general motors profit sharing bonuses biggest given company date general motors trucks suv sales drove profits home market')
('affordable housing market estimated touch billion lakh crore per annum next', 'india affordable housing market estimated touch billion lakh crore per annum next years amid rising demand segment study professional services major pwc stated policies innovation technology financing help attract private sector participation well meeting housing demand study added')
('pakistan high alert monday authorities executed qadri assassination governor taseer', 'pakistan high alert monday authorities executed qadri assassination governor taseer lawyers capital islamabad declared one day strike protests erupted across nation qadri reportedly considered hero killing taseer defend honour islam governor taseer advocated reforms pakistan rigid blasphemy laws')
('rajkot municipal corporation earlier issued notices illegal constructions part cricketer', 'part cricketer ravindra jadeja restaurant jaddu food field rajkot demolished rajkot municipal corporation drive illegal construction city thursday store room kitchen constructed illegally part restaurant pulled corporation earlier issued notices illegal constructions')
('german football club bayern players staff celebrated beginning oktoberfest festival wed wednesday', 'german football club bayern players staff celebrated beginning oktoberfest festival wednesday players staff dressed traditional drank glass beer bayern boss carlo ancelotti first oktoberfest appearance alongside new renato sanches mats')
('bjp president amit shah elected full three year term met veteran leader lk', 'bjp president amit shah elected full three year term met veteran leader lk advani residence sunday sought blessings advani reportedly criticised shah post bihar polls skipped election meeting along senior leader mm joshi shah meet joshi former pm atal bihari vajpayee tuesday')
('severe cyclonic storm vardah expected cross bay bengal coast s', 'severe cyclonic storm vardah expected cross bay bengal coast sriharikota andhra pradesh pm monday authorities sounded high alert andhra pradesh tamil nadu cyclone reportedly turned severe however storm may weaken making landfall officials said')
('according tracxn report indian startups raised billion first six months', 'according tracxn report indian startups raised billion first six months half pumped delhi ncr deals bengaluru mumbai ranked second third pune hyderabad ranked fourth fifth funded startup cities country')
('colombias president set to sign new peace deal with rebels ending years conflict despite objections', 'colombia president juan manuel santos set sign new peace deal farc rebels ending years conflict despite objections people rejected original accord october opponents peace deal said several key issues including eligibility convicted war crimes appointed public office')
('national investigation agency friday framed charges lashkar e taiba operative ansari alias ab', 'national investigation agency friday framed charges lashkar e taiba operative ansari alias abu conspiring terror attacks india also part terrorist control room karachi mumbai attacks framed ipc section sections unlawful activities prevention act')
16

In [ ]:
id_pairs = get_pair_indices(vocab, rrw_sentence_pairs)
# id_pairs = get_pair_indices(vocab, sen_p2)
id_pairs[0]

In [ ]:
premise_seq    = [torch.tensor(seq[0]).long().to(device) for seq in id_pairs]
hypothesis_seq = [torch.tensor(seq[1]).long().to(device) for seq in id_pairs]

premise_len    = list(map(len, premise_seq))
hypothesis_len = list(map(len, hypothesis_seq))

batch = len(premise_seq)
temp = pad_sequence(premise_seq + hypothesis_seq, batch_first=True)
premise_seq    = temp[:batch, :]
hypothesis_seq = temp[batch:, :]

prediction = lstm_model([premise_seq, hypothesis_seq], premise_len, hypothesis_len)
# prediction = prediction[prediction!=prediction[0,3]]

prediction_list = prediction.to('cpu')
prediction_list = prediction_list.tolist()
print(len(prediction_list))

In [ ]:
prediction

In [ ]:
soft2 = torch.log_softmax(prediction, dim=1).argmax(dim=1)
soft2.tolist()

In [ ]:
ctr2 = 0
for i in range(len(soft)):
    if soft2[i] == 0:
        print(rrw_sentence_pairs[i])
        ctr2 = ctr2 + 1
print(ctr2)

In [ ]:
e_100 = 0
e_50 = 0
n_100 = 0
n_50 = 0
cc = 0
for i in range(len(soft1)):
    if soft1[i] == soft2[i] == 0:
        e_100 = e_100 + 1
    elif (soft1[i] == 0 and soft2[i] == 1) or (soft1[i] == 1 and soft2[i] == 0):
        e_50 = e_50 + 1
    elif soft1[i] == soft2[i] == 1:
        n_100 = n_100 + 1
    elif (soft1[i] == 1 and soft2[i] == 2) or (soft1[i] == 2 and soft2[i] == 1):
        n_50 = n_50 + 1
    else: 
        cc = cc + 1
print('e100: ', e_100)
print('e50: ', e_50)
print('n100: ', n_100)
print('n50: ', n_50)
print('c100: ', cc)

In [ ]:
rw_sentence_pairs[0]

In [ ]:
prediction[0]

In [ ]:
rw_sentence_pairs[1]
# 0: entailment
# 1: neutral
# 2: contradiction

In [ ]:
maxi = torch.max(prediction, dim=0)
mini = torch.min(prediction, dim=0)
# print(maxi[0][0])
denom1 = float(maxi[0][0].to('cpu')) - float(mini[0][0].to('cpu'))
denom2 = float(maxi[0][1].to('cpu')) - float(mini[0][1].to('cpu'))
denom3 = float(maxi[0][2].to('cpu')) - float(mini[0][2].to('cpu'))
denom = ( denom1 + denom2 + denom3 ) / 3
print(maxi, mini)
print(denom)

In [ ]:
aa = []
for i in prediction:
    a = []
    for j in i:
        a.append(float(j.to('cpu'))/denom)
    aa.append(a)
print(aa)

In [ ]:
e_scores = []
for i in aa:
    e_scores.append(i[0] + i[1]*0.5 + i[2]*0.1)
print(e_scores)

In [ ]:
E_labels = []
for i in e_scores:
    if i < 0:
        E_labels.append('NEGATIVE ENTAILMENT')
    elif i > 0.2:
        E_labels.append('PERFECT ENTAILMENT')
    else:
        E_labels.append('NEUTRAL ENTAILMENT')

In [ ]:
df_final_E = pd.DataFrame(list(zip(rw_sentence_pairs, aa, e_scores, E_labels)), columns =['sentence pairs', 'entailment scores (raw: e, n, c)', 'entailment_metric [-1:1]', 'entailment_labels'])
# df_final_E.to_csv('entailment_scores_of_test_pairs.csv')
df_final_E.head()

In [ ]:
# testcases_df = pd.read_csv('ins.csv')
# testcases_df.head()

In [ ]:
ctr = 0
for i in range(len(soft)):
    if soft[i] == 2:
        print(rw_sentence_pairs[i])
        ctr = ctr + 1
print(ctr)

In [ ]:
new_scores = {'sentence1': [], 'sentence2': []}
for i in testcases_df['original_summary']:
    new_scores['sentence2'].append(i)
for i in testcases_df['Predicted_summary']:
    new_scores['sentence1'].append(i)
for i in testcases_df['Predicted_summary']:
    new_scores['sentence1'].append(i)

In [ ]:
new_scores['sentence1'][0]

In [ ]:
sentence_o = [''] * len(testcases_df)
sentence_p = [''] * len(testcases_df)
# sentence_o = [''] * 2
# sentence_p = [''] * 2

# sentence_o[0] = "rock music is very good for public"
# sentence_p[0] = "people like rock and roll"
# sentence_o[1] = "a girl is dancing on the stage"
# sentence_p[1] = "hello world"

# sentence_o[0] = clean_text(sentence_o[0])
# sentence_p[0] = clean_text(sentence_p[0])
# sentence_o[1] = clean_text(sentence_o[1])
# sentence_p[1] = clean_text(sentence_p[1])

new_sen_p = []
for i in range(len(testcases_df)):
  sen1 = new_scores['sentence1'][i]
  sen2 = new_scores['sentence2'][i]
  new_sen_p.append((sen1, sen2))

new_sen_p

In [ ]:
for data in [new_sen_p]:
  for sentence_pair in data:
    premise    = sentence_pair[0]
    hypothesis = sentence_pair[1]
    vocab.addSentence(premise)
    vocab.addSentence(hypothesis)

In [ ]:
new_id_pairs = get_pair_indices(vocab, new_sen_p)

In [ ]:
premise_seq    = [torch.tensor(seq[0]).long().to(device) for seq in new_id_pairs]
hypothesis_seq = [torch.tensor(seq[1]).long().to(device) for seq in new_id_pairs]

premise_len    = list(map(len, premise_seq))
hypothesis_len = list(map(len, hypothesis_seq))

batch = len(premise_seq)
temp = pad_sequence(premise_seq + hypothesis_seq, batch_first=True)
premise_seq    = temp[:batch, :]
hypothesis_seq = temp[batch:, :]

prediction = lstm_model([premise_seq, hypothesis_seq], premise_len, hypothesis_len)
# prediction = prediction[prediction!=prediction[0,3]]

prediction_list = prediction.to('cpu')
prediction_list = prediction_list.tolist()
print(len(prediction_list))

In [ ]:
# soft = torch.log_softmax(prediction, dim=1).argmax(dim=1)
# soft.tolist()

In [ ]:
# ctr = 0
# for i in range(len(soft)):
#     if soft[i] == 1:
#         print(rw_sentence_pairs[i])
#         ctr = ctr + 1
# print(ctr)